.pharmaciesElementWrapper {
  height: 400px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #638686;
  background: #eeffff;
}

.pharmaciesWrapper {
  height: 320px;
  overflow-y: auto;
  padding: 0.5rem 1rem;
}

.singlePharmaEl {
  border: none;
  box-shadow: 0 0 5px #638686;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: #d2f2f2;
  position: relative;
  overflow: hidden;
}

.pharmaTimeWrapper {
  box-shadow: 0 0 5px #638686;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  background: #eeffff;
}

.pharmaCall {
  position: absolute;
  top: -2px;
  right: -2px;
  box-shadow: 0 0 5px #638686;
  padding: 0.5rem;
  border-bottom-left-radius: 10px;
  background: #eeffff;
}

.pharmaLoadingAnimation {
  height: 100px;
}

.pharmaAnimation {
  height: 70px;
}

.pharmaPhoneIcon {
  color: #198754;
  border-radius: 50%;
  padding: 0.2rem;
  border: 1px solid #198754;
  background: #eeffff;
  font-size: 1.6rem;
}

@media screen and (max-width: 576px) {
  .pharmaciesElementWrapper {
    margin-bottom: 1rem;
  }
}
