.offcanvasWrapper {
  background: #ddf7f5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.offcanvasWrapperDark {
  box-shadow: 0 0 5px #f4f7f5;
  background: #19414bf5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wishCanvasHeader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.wishCanvasText {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 1;
  color: rgb(44, 44, 44);
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.5rem;
}

.newWishElAnimation {
  width: 200px;
  height: 200px;
  margin-top: 3rem;
}

.newWishElBtn {
  border: none;
  background: rgb(110, 180, 163);
  transition: all 0.2s;
}
.newWishElBtn:hover {
  background: rgb(76, 129, 116);
}
.newWishElBtn:active {
  background: rgb(110, 180, 163) !important;
}

@media screen and (max-width: 576px) {
  .offcanvasWrapper,
  .offcanvasWrapperDark {
    width: 80% !important;
  }
}
