.profileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 7rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  box-shadow: 0 0 10px #000000;
}

.profileImgWrapper {
  position: absolute;
  bottom: 400px;
}

.editPropicIcon {
  position: absolute;
  left: 70%;
  bottom: 2%;
  background: #ffffff;
  font-size: 2rem;
  padding: 2px 2px;
  border-radius: 50%;
  border: 1px solid #00000070;
  cursor: pointer;
  transition: 0.3s;
}
.editPropicIcon:hover {
  box-shadow: 0 0 5px #000000;
}

.editDataIcon {
  cursor: pointer;
}

.userDataWrapper {
  padding: 1rem 4rem;
  border-radius: 20px;
  box-shadow: 0 0 10px #76b0b3;
  background: #dffefd;
}

.userDataField {
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #76b0b3;
  background: #e8fffe;
}

.bgAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* background: #3d3d3d; */
}
