.supportPageAnimationWrapper {
  width: 100%;
  padding-top: 1rem;
  background: #d2f2f2e0;
  box-shadow: 0 0 10px #759292;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.supportPageAnimationWrapperDark {
  width: 100%;
  padding-top: 1rem;
  box-shadow: 0 0 5px #f4f7f5;
  background: #19414bf8;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.supportPageAnimation {
  height: 400px;
  width: 70%;
}

.bgAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.bgAnimationDark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: #3d3d3d;
}

.supportHeaderText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center center;
  transition: transform 0.5s ease;
  font-size: 5rem;
}

.supportCardsWrapper {
  padding: 2rem;
  margin-top: 6.2rem;
  margin-bottom: 10rem;
}

.supportCard {
  box-shadow: 0 0 10px #759292;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #e4fafa;
  transition: 0.3s;
  height: 200px;
}
.supportCard:hover {
  box-shadow: 0 0 20px #759292;
}

.supportCardLogo {
  font-size: 3.5rem;
}

.supportCardSubtext {
  font-size: 0.8rem;
  color: #888888;
  font-style: italic;
}

@media screen and (max-width: 576px) {
  .supportPageAnimationWrapper,
  .supportPageAnimationWrapperDark {
    height: 250px !important;
  }
  .supportHeaderText {
    top: 50%;
    font-size: 1.8rem;
    width: 100%;
    text-align: end;
    padding-right: 1.5rem;
  }
  .supportCardsWrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .supportCard {
    margin-bottom: 1.5rem;
  }
}
