.registrationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #a7c6ca;
  width: 350px;
  height: 700px !important;
  padding: 0 !important;
  margin-top: 8rem;
  border-radius: 20px;
  background: #d2f2f2;
  opacity: 85%;
}

.bgAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* background: #3d3d3d; */
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 70%;
}

.registrationInput {
  position: relative;
}

.registrationInputField {
  border-color: initial !important;
  border: none;
  outline: none;
  box-shadow: none;
  line-height: 2.5rem;
  background: #f0ffff;
  width: 250px;
  color: #858585;
}
.registrationInputField:focus {
  border-color: initial !important;
  border: none !important;
  outline: none;
  box-shadow: none;
  line-height: 2.5rem;
  background: #f0ffff;
  box-shadow: inset 0 0 5px #62949b;
}

.registrationPlaceholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  color: #858585;
  transition: all 0.3s;
  -webkit-user-select: none;
  user-select: none;
}

.registrationInputField:focus ~ .registrationPlaceholder,
.registrationInputField:active ~ .registrationPlaceholder,
.registrationInputField:valid ~ .registrationPlaceholder,
.registrationInputField:not(:placeholder-shown):valid ~ .registrationPlaceholder {
  top: -8px;
  left: 4.5px;
  background: #00000000;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
}

.registrationBtn {
  align-self: flex-start;
  background: #528686;
  border: none;
  box-shadow: 0 0 10px #88b4b4;
  color: #ffffff;
  transition: all 0.3s;
}
.registrationBtn:hover,
.registrationBtn:active {
  background: #4f9b9b !important;
}

.registerLoginLink {
  text-decoration: none;
  color: #528686;
  transition: 0.3s;
}
.registerLoginLink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .registrationWrapper {
    margin-top: 5rem;
  }
}
